/* цвет основного текста #212121 */

/* вторичный цвет текста #757575 */

/* акцент #2196F3 */


body{
    font-family: 'Roboto',
    sans-serif;
}




ul {
    list-style: none;
}

.head{
    background-color: #fff;
}


.site-nav .link{
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.site-nav .link:hover,
.site-nav .link:focus{
    color: #2196F3;
}


.mail-tel .link-mt{
     color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.mail-tel .link-mt:hover, 
.mail-tel .link-mt:focus{
    color: #2196F3;
}


.under-head{
    background-color: #2F303A;
}

/* Эффективные решения для вашего бизнеса */
.main-text{
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
 

.order{
    background-color: #2196F3;
    cursor: pointer;
    
}


.order-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
}

.features{

}

.team{
    background-color: #F5F4FA;
}



.team-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    
    text-align: left;
    letter-spacing: 0.03em;
    
    color: #212121;
}




.team-place{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    
    text-align: left;
    letter-spacing: 0.03em;
    
    color: #757575;
}


.text-features{
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.title-features{
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.what-doing{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}


.team-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}



.port-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    
    letter-spacing: 0.06em;
    
    color: #212121;
}



.port-li-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
}


.foot{
    background-color: #2F303A;
}


.address-foot{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}


.data-foot{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}


a {
    text-decoration: none;
}























/* ПОРТФОЛИО */
.portfolio-btn{
    background-color: #F5F4FA;
    cursor: pointer;
}


.portfolio-btn-text{
    color: #212121;
}

.portfolio-btn:hover, .portfolio-btn:focus{
    background-color: #2196F3;
}

.portfolio-btn-text:hover, .portfolio-btn-text:focus{
    color: #FFFFFF;
}


