@import './utils/variables';
@import './utils/mixins';
@import './utils/placeholders';

@import
'./components/page-header' , 
'./components/hero-section' , 
'./components/logo-header' , 
'./components/logo-footer' , 
'./components/features' , 
'./components/what-doing' , 
'./components/clients' , 
'./components/page-footer' ,
'./components/team' ,
'./portfolio-components/btn-filter' ,
'./portfolio-components/portfolio-cards' , 
'./components/mobile-nav';



.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
        width: 480px;
        padding-top: 60px;
        padding-bottom: 60px;

       
        
    }
    
    @media screen and (min-width:768px) {
        width: 768px;
        padding-top: 0;
        padding-bottom: 0;
    }

    @media screen and (min-width: 1600px) {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        
    }
}

html {
    box-sizing: border-box;
}



a{
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img{
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden ;

}

body.modal-open{
    overflow: hidden;
}





.section {
   @media screen and (min-width:1600px) {
       padding-top: 94px;
       padding-bottom: 94px;
   }

    @media screen and (max-width:480px) {
       padding-bottom: 60px; 
       padding-top: 60px;
    }

}

.container {
   @extend %container;
}

.visually-hidden{
   @extend %visually-hidden;
}
