.features {


    @media screen and (min-width:768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width:1600px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    & h2{
        margin-top: 0;
    }
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    
    .feature-item{
        

        @media screen and (min-width:768px) {
            width: 354px;
            &:nth-child(2n+1){
                margin-right: 30px;
            }
        }
        
        @media screen and (min-width:1600px){
            &+.feature-item {
                margin-left: 30px;
            }
            width: 270px;

            &:nth-child(2n+1) {
                margin-right: 0px;
            }
        }

        
        @media screen and (min-width: 768px) {
          margin-bottom: 30px;
          &:nth-child(3){
              margin-bottom: 0;
          }    
          &:nth-child(4) {
            margin-bottom: 0;
          }
        }

        @media screen and (max-width:480px) {
            &:not(:nth-child(4)){
              margin-bottom: 30px;
            }
        }

    }
    
    @media screen and (max-width: 767px) {
        display: block;
        text-align: center;
    }

   
}



.feature-item::before{
    display: block;
    content: '';
    height: 120px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;

    @media screen and (max-width:767px) {
        width: 450px;
    }

    @media screen and (min-width:768px) {
        width: 354px;

    }

    @media screen and (min-width:1600px) {
       width: 270px; 
    }
}

$icons: "antenna","clock", "diagram", "astronaut";

@each $iconName in $icons {
    .icon-#{$iconName}::before {
        background-image: url("../img/#{$iconName}.svg");
    }


}

.text-features{
    color: $secondaryColor;

    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    text-align: start;
}

.title-features{
    color: $mainColor;

    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}